<html>
  <head>
    <script> 
      function checkempty(form) { 
          if (form.name.value == null ||  
              form.name.value == undefined || 
              form.name.value.length == 0) { 
              
              alert("Name cannot be empty\n"); 
              return false; 
          } else { 
              alert("Your response has been recorded\n"); 
              return true; 
          } 
      } 
  </script> 
  </head>
  <body>
  <div style='text-align:center'class="container" >

      <form onsubmit="return checkempty(form1)"
            action="#" method="post"
            name="form1"> 
    <h1 style="text-align: center;"><i><b>STUDENT DATA ENTRY FORM</b></i></h1>
    <h1 style="text-align:center;">BIO-DATA</h1>
    <label for="stu_name"><b>STUDENT NAME : </b></label>
    <input type="text" name="stu_name" id="in1" placeholder="Student name here..."[(ngModel)]="stuname" required/><br><br>
    <label for="phone_no"><b>PHONE NUMBER : </b></label>
    <input type="text" name="phone_no" id="in2" placeholder="Phone no here..."[(ngModel)]="phone"/><br><br>
    <label for="email_id"><b>EMAIL_ID : </b></label>
    <input type="email" name="email_id" id="in3" placeholder="email_id here..."[(ngModel)]="email"/><br><br>
    <label for="dob"><b>D.O.B : </b></label>
    <input type="date" name="dob" id="in4" [(ngModel)]="dob"/><br><br>
    <label for="gender"><b>GENDER : </b></label>
    <input type="radio" id="male" name="gender" value="male"[(ngModel)]="gender">
    <label for="male">Male</label>
    <input type="radio" id="female" name="gender" value="female">
    <label for="female">Female</label><br><br>
  
    <label for="reg_no"><b>REG_NO : </b></label>
    <input type="number" name="reg_no" id="in6" [(ngModel)]="regno"/><br><br>
    <label for="nationality"><b>NATIONALITY : </b></label>
    <select name="nationality"id='in7'>
      <option value="ind">INDIA</option>
      <option value="eng">ENGLAND</option>
      <option value="aus">AUSTRALIA</option>
      <option value="ger">GERMANY</option>
    </select><br><br>
    <button  (click) ='addvalue()' required>ADD STUDENT DATA</button>
  
  <div>
    <ul id='pos'>
      <li *ngFor = "let item of list">
        
        <input  name="isDone" [(ngModel)]='item.isDone'/>
        {{item.value}} Data Added <button (click) = 'deleteItem(item.id)'>Delete</button>
      </li>
    </ul>
  </div>
</form>
</div>
</body>
</html>